[submodule "themes/manis"]
	path = themes/manis
	url = https://github.com/yursan9/manis-hugo-theme
[submodule "public"]
	path = public
	url = git@github.com:xenonsin/xenonsin.github.io.git
	branch = master
